# Q. 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators

(*) # This is an expressions

In [3]:
5*2

10

In [4]:
a =('hello') # This is an values 
type(a)

str

In [5]:
a = -87.8  # This is an values
type(a)

float

(-)  # This is an expressions

In [6]:
5-2

3

(/)  # This is an expressions

In [7]:
10/2

5.0

(+) This is an expressions

In [8]:
5+2

7

In [9]:
a = 6 # This is values
type(a)

int

# Q 2. What is the difference between string and variable?

Variables are symbols that We can use to store data in a program. We can think of them as an empty box that We fill with some data or value. Strings are data, so we can use them to fill up a variable. Declaring strings as variables can make it easier for us to work with strings throughout our Python programs.

In [10]:
A = "Parinav"

# Here 'A' is variable and "Parinav" is string

In [11]:
A

'Parinav'

# Q 3. Describe three different data types.

In [12]:
# Integer
A = 1234
type(a)

int

In [13]:
# Floats 
a = 5.6
type(a)

float

In [14]:
# Booleans 
a = True or False
type(a)

bool

# Q 4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators and operands that is interpreted to produce some other value. 
an expression is evaluated as per the precedence of its operators.

An expression evaluates to a single value. A statement does not

# Q 6. After running the following code, what does the variable bacon contain?

In [15]:
bacon = 22

In [16]:
bacon + 1  #  The variable bacon contain the value 22.

23

# Q 7. What should the values of the following two terms be?

In [17]:
'spam' + 'spamspam'

'spamspamspam'

In [18]:
'spam' * 3

'spamspamspam'

# Q 8. Why is eggs a valid variable name while 100 is invalid?

In [19]:
eggs = 125

In [20]:
100 = 256, "parinav"

SyntaxError: cannot assign to literal (Temp/ipykernel_18276/2052014314.py, line 1)

The eggs is a valid variable but 100 is invalid because variable names cannot begin with a number

# Q 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

For intger we use int() to get value
For floating-point number we use float() to get value
For string version of value we use str() to get value

In [21]:
int()
float()
str()

''

# Q 10. Why does this expression cause an error? How can you fix it?

In [22]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator.

In [23]:
'I have eaten ' + str(99) + ' burritos.' # This is the right way to add

'I have eaten 99 burritos.'